
.list-group-item {
    padding-top:2px !important;
    padding-bottom:2px !important;
    margin-left: 500px;
    width: 700px;
    height: 50px;
}

.todo-list-item{
    margin-left: 0px;
}

.btn-del {
    border: solid 2px #DF7F59;
    background-color: white;
    color: #DF7F59;
    margin-right: 5px;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.btn-del:hover {
    background-color: #DF7F59;
    border-color: #DF7F59;
    color: white;
}

.btn-in {
    border: solid 2px green;
    background-color: white;
    color: green;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    text-align: left;
}

#div2{
    position:absolute;
    right:0;
}

.btn-in:hover {
    background-color: green;
    border-color: green;
    color: white;
}

.my-table{
    width: 500px;
    text-align: center;
}